@use 'sass:math';
@use '../variable' as var;

.card {
    display: block;
    padding: var.$base-padding;
    border: var.$base-border-thickness solid #dddddd;
    box-shadow: var.$base-box-shadow;
    border-radius: math.div(var.$base-border-radius, 4);
    max-width: 500px;

    .card-title {
        font-size: var.$font-size-lg;
        padding-bottom: var.$base-padding;
        font-weight: bold;
    }

    .card-body {
        font-size: var.$base-font-size;

        a {
            text-decoration: underline;
        }
    }
}