@use 'sass:math';

$grid-columns: 12;
$grid-gaps: (
    "0": 0,
    "1": 10px,
    "2": 20px,
    "3": 30px,
);
$layout-values: flex-start, flex-end, center, space-between, space-around;

// base layout
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

// grid gaps 
@each $key, $val in $grid-gaps {
    .gap-#{$key} > * {
        padding: $val;
    }
    .gap-#{$key} {
        margin-left: -$val;
        margin-right: -$val;
    }
}

// justify-content classes
@each $val in $layout-values {
    .justify-#{$val} {
        justify-content: $val;
    }
}

@mixin col($size) {
    box-sizing: border-box;
    flex-grow: 0;
    width: math.div($size * 100%, $grid-columns);
}

// col classes
@include xs {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-xs {
            @include col($i);
        }
    }
}

@include sm {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-sm {
            @include col($i);
        }
    }
}

@include md {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-md {
            @include col($i);
        }
    }
}

@include lg {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-lg {
            @include col($i);
        }
    }
}

@include xl {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-xl {
            @include col($i);
        }
    }
}